.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nameNav{
  margin-left: 1%;
}

.listHome{
  margin-left: auto;
  margin-right: 2%;
}

.tituloHome{
  color: white;
  margin-left: auto;
  margin-top: 0.5%;
}

.introductionHome{
  background-color: #282c34;
  margin-top: 5%;
  height: 200px;
  width: 95%;
  margin-left: 2.5%;
}

.guia{
  color: white;
  text-align: center;
  align-items: center;
}

.divFilha{
  display: inline-block;
  margin-left: 20%;
}

.titleModalError{
  text-align: center;
  align-content: center;
  color: rgb(230, 4, 4);
  font-weight: 700;
  width: 100%;
  margin-top: 0%;
}

.buttonConfirmar{
  text-align: center;
  margin-left: 70%;
  margin-bottom: 1%;
}

.bodyModal{
  text-align: center;
}

.bodyDisciplines{
  background-color: #282c345d;
  margin-top: 80px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-color: black;
  border: 2px solid;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.blocoContainer{
  display: flex;
  flex-direction: column; /* Coloque os filhos em coluna */
  justify-content: space-between; /* Distribua o espaço verticalmente */
    width: calc(33.33% - 10px); /* 33.33% para 3 divs por linha, -10px para margens */
    margin: 5px;
    background-color: lightblue;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgba(218, 218, 218, 0.76);
}

.nameDiscipline{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif
}

.descriptionDiscipline{
  font-size: 12px;
  background-color: #8f8f8f4b;
  border-radius: 5px;
  padding: 10px;
}

.divComTexto{
    cursor: pointer;
    word-wrap: break-word; 
}

.bodyTopics{
  background-color: #282c345d;
  margin-top: 80px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-color: black;
  border: 2px solid;
  padding: 10px;
  margin-bottom: 5%;
}

.bodyQuestion{
  background-color: #282c345d;
  margin-top: 80px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-color: black;
  border: 2px solid;
  padding: 10px;
  margin-bottom: 5%;
  padding-top: 50px;
}

.blocoContainerTopics{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: lightblue;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgba(218, 218, 218, 0.76);
}

.divOpenVisor{
  cursor: pointer;
}

.nameTopics{
  margin-top: 1%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-color: #838891;
  border-radius: 5px;
  border: solid black;
  border-width: 1px;
}

.nameTopicsQuestion{
  margin-top: -2.4%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-color: #838891;
  border-radius: 5px;
  border: solid black;
  border-width: 1px;
}

.nameTopicsQuestionAluno{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-color: #838891;
  border-radius: 5px;
  border: solid black;
  border-width: 1px;
}

.texto-direita {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  padding: 0px;
  background-color: #8f8f8f4b;
  padding-right: 5px;
  word-wrap: break-word; 
  border-radius: 5px;
  text-align: right; /* Alinha o texto à direita */
  position: absolute; /* Permite o posicionamento absoluto */
  bottom: -19px; /* Alinha o texto na parte inferior */
  right: -10px; /* Alinha o texto à direita */
  margin: 10px; /* Margem para espaçamento */
  padding-left: 5px;
}

.descriptionTopics{
  font-size: 14px;
  background-color: #8f8f8f4b;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}

.footer{
  background-color: #6d7075;
  position: fixed;
  top: 94%;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 7%;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
}

.completed{
  font-size: 100%;
  font-weight: 700;
  color: black;
  
}

.verificarTeste{
  font-size: 100%;
  font-weight: bolder;
  color: white;
}

.botãoSubmitTest{
  background-color: black;
  width: 15%;
  height: 90%;
  margin-top: -13px;
  margin-left: auto;
  margin-right: 10%;
  border-radius: 5px;
  text-align: center;
}

.textEscondido{
  display: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.titleDisciplineName{
  text-align: center;
}

.teacherName{
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}

.teacherNameQuestions{
  font-size: 14px;
  margin: 0px;
  margin-top: -13px;
  text-align: right;
  padding-right: 5px;
}

.imgQuestion{
  max-width: 80%;
  height: 150px; /* Mantém a proporção da imagem */
  width: 45%;
  margin-left: 25%;
}

.textAlternatives{
  cursor: pointer;
  width: 100%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid black 1px;
  border-radius: 5px;
}

.deleted{
  background-color:rgb(230, 4, 4);
  width: 7%;
  padding: 0px;
  border: solid 2px;
  border-radius: 5px;
  margin-left: 8px;
}

.edited{
  width: 7%;
  padding: 0px;
  border: solid 2px;
  border-radius: 5px;
  margin-left: 80%;
  background-color: rgb(72, 75, 255);
}

.bodyTeacker{
  background-color: #282c345d;
  margin-top: 80px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-color: black;
  border: 2px solid;
  padding: 10px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6%;
}

.FormTexts{
  width: 100%;
  margin-bottom: 20px;
}

.botãoAddAlternative{
  border: solid 2px;
  border-radius: 5px;
  margin-left: 3px;
}

.FormTextsAlter{
  width: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.newElement{
  position: absolute;
  top: 13%;
  left: 3%;
  padding: 10px; /* Espaçamento interno (opcional) */
}

.nameTopicH1{
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.newElementQuestion{
  position: absolute;
  top: 12.5%;
  left: 2%;
  padding: 10px; /* Espaçamento interno (opcional) */
}

.buttonNewElementQuestion{
  border: solid black 2px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  background-color: #1ca3c9;
  font-weight: 600;
}

.buttonNewElement{
  border: solid black 2px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: #1ca3c9;
  font-weight: 600;
}

.inputNameTopics{
  width: 100%;
  border: solid black 2px;
  border-radius: 5px;
  height: 40px;
  background-color: #c6d7db;
  margin-top: 5px;
}

.labelNameTopics{
  font-weight: 600;
}

.inputNameTopics:focus {
  outline: 2px solid #7e9fb4; /* Substitua a cor pela desejada */
}

.inputDescriptionTopics{
  width: 100%;
  border: solid black 2px;
  border-radius: 5px;
  height: 100px;
  padding-bottom: 50px;
  background-color: #c6d7db;
  margin-top: 5px;
}

.inputDescriptionTopics:focus {
  outline: 2px solid #7e9fb4; /* Substitua a cor pela desejada */
}

.createTopic{
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.buttonCreateTopics{
  border: solid black 2px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: #2fdf03;
  font-weight: 600;
  
}

.buttonCreateTopics:active{
  background-color: #2fdf0371;
}

.buttonCancelTopics{
  border: solid black 2px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: #747474;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}

.buttonCancelTopics:active{
  background-color: #74747477;;
}


.formBodyTeacker{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.errorMessageForm{
  color: rgb(235, 50, 50);
  font-weight: 600;
}

.botãoEdit{
  background-color: white;
  font-size: 25px;
  padding: 3px;
  width: 30px;
  height: 30px;
  border: solid black 2px;
  border-radius: 5px;
  cursor: pointer;
}

.botãoDelete{
  background-color: rgba(255, 28, 28, 0.973);
  font-size: 25px;
  padding: 3px;
  width: 30px;
  height: 30px;
  border: solid black 2px;
  border-radius: 5px;
  cursor: pointer;
}

.divBotEditDelete{
  display: flex;
  background-color: lightblue;
  justify-content: space-between; /* Isso alinhará as divs nas extremidades */
}

.alternativesEspace{
  list-style: none;
  margin-top: 10px;
  margin-left: 20px;
  
}

.ulAlternative{
  list-style: none;
  
}

.inputAlternatives{
  border: none;
  background-color: lightblue;
  width: 50%;
}

.inputLatex{
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: solid 2px black;
  background-color: #c6d7db;
  min-height: 50px;
}

.alternativeLatex{
  padding: 5px;
  font-size: 12px;
}
